<!-- base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Your App{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <h1>{% block header %}My App {% endblock %}</h1>
        <nav>
            <ul class="navbar">
                <li class="{% if request.path == '/' %}active{% endif %}"><a href="{% url 'index' %}">Home</a></li>
                <li class="{% if request.path == '/candidates/' %}active{% endif %}"><a href="{% url 'candidate_list' %}">Candidate List</a></li>
                <li><a href="{% url 'create_candidate' %}">Add Candidate</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>