<!-- templates/index.html -->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}
{% block header %}Welcome to My Django Assignment(Preeti Bharade){% endblock %}

{% block content %}
    <div style="text-align: center;">
        <p>
            Thank you for visiting my project portal. This platform is designed to showcase
            and manage information about candidates. You can explore the candidate list, add new
            candidates, edit their details, and remove them from the system. Feel free to navigate
            through the menu above and make the most of our candidate management system.
        </p>
    
    
{% endblock %}